.date-input {
    padding: 1rem;
    outline: none;
    border-radius: 14px;
    font-size: 2rem;
    border: 4px solid teal;
    margin-left: 4rem;
}

.date-display {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
}